.list {
  display: flex;
  padding-left: 0;
  margin-left: 195px;
  margin-right: 0;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 8px;
  font-weight: 500;
  color: #2196f3;
  font-size: 18px;
}

.activeLink {
  composes: link;
  color: red;
}
